<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cinema.adminmovieregistedao.AdminMovieMapper">

	<!-- 영화 목록 보기 -->

	<select id="adminMovieList" parameterType="com.cinema.adminmovieregistevo.AdminMovieRegisteVO"
		resultType="com.cinema.adminmovieregistevo.AdminMovieRegisteVO">
		select
		m_num,m_money,m_title,m_director,m_main,m_support,m_runningtime,m_releasedate,m_summary,m_grade,m_country,
		m_genre,m_view,to_char(m_date,'YYYY-MM-DD') as m_date
		from movie


	</select>

	<!-- 영화정보 <select id="adminMovieDetail" parameterType="com.cinema.adminmovieregistevo.AdminMovieRegisteVO" 
		resultType="om.cinema.adminmovieregistevo.AdminMovieRegisteVO"> select m_num,m_money,m_title,m_director,m_main,m_support,m_runningtime,m_releasedate,m_summary,m_grade,m_country, 
		m_genre,m_view,to_char(m_date,'YYYY-MM-DD HH24:MI:SS') as m_date from 
		movie where m_num = #{m_num} </select> -->



	<!-- 영화등록 -->

	<insert id="adminMovieInsert" parameterType="com.cinema.adminmovieregistevo.AdminMovieRegisteVO">
		<selectKey keyProperty="m_num" resultType="int" order="BEFORE">
			select MOVIE_SEQ.nextval from dual

		</selectKey>
		INSERT INTO
		movie(m_num,m_money,m_title,m_director,m_main,m_support,m_runningtime,m_releasedate,m_summary,m_grade,m_country,m_genre,m_view)
		VALUES(#{m_num},#{m_money},#{m_title},#{m_director},#{m_main},#{m_support},#{m_runningtime},#{m_releasedate},#{m_summary},#{m_grade},#{m_country},#{m_genre},#{m_view})

	</insert>

	<!-- 영화삭제 <delete id="adminMovieDelete" parameterType="com.cinema.adminmovieregistevo.AdminMovieRegisteVO"> 
		DELETE FROM movie where m_num = #{m_num} </delete> -->

</mapper>